@media only screen and (max-width: 480px) {
    .container {
        margin: 0;

        width: 100%;
        padding: 0;
        display: flex;
    }

    .center {

    }

    .main {
        flex-direction: column;
    }

    .sidebar {

    }
.search__input{
    order: 1;
    width: 100%;
}
    .header {
        flex-wrap: wrap;
        width: 100%;

    }
    .legal{
        display: none;
    }

    .side-nav{
        display: flex;
    }
    .side-nav__item--active {
        justify-content: space-evenly;
    }

    .main {

    }

    .description {
        margin: 0;
        padding: 0;
        margin-bottom: 5rem;
    }

    .details {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}