@media only screen and (max-width: 480px) {
    .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
        padding: 0;
        display: flex;
    }

    .center {

    }

    .main {
        flex-direction: column;
    }

    .sidebar {

    }

    .header {

        justify-content: center;

    }
    .legal{
        display: none;
    }

    .side-nav{
        display: flex;
    }
    .side-nav__item--active {
        justify-content: space-evenly;
    }

    .main {

    }

    .description {
        margin: 0;
        padding: 0;
        margin-bottom: 5rem;
    }

    .details {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}