.sidebar {
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex:0 0 19%;
    justify-content: space-between;

}

.side-nav__link {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;

    text-decoration: none;

}

.side-nav {
    font-size: 1.4rem;
    list-style-type: none;

}

.side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
}

.legal {
    text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
.container{
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;

}

    .header{

        flex-wrap: wrap;

    }
    .search{
        order: 1;
        flex-basis: 100%;
    }
    .main{
        width: 100%;

    }
    .sidebar{
        width: 100%;
        flex-direction: column;
    }
    .pictures{
        width: 100%;
        flex-direction: column;
    }
}