.container{
    background-color: red;
    padding: 8rem;
}
.center{
    background-color: white;
}
.pic{
    height: 3.25rem;
}
.search__input{
    width: 30rem;
    background-color: lavender;
    height: 1.5rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__icon{
    height: 1rem;
    width: 2rem;


}

.search__button {
    border: none;
    background-color: lavender;
    margin-left: -3.25rem;
}

.user-nav__icon{
    height: 2.25rem;
    width: 2.25rem;
}
.user-nav__icon-box{
    display: flex;
    align-items: center;
}
.rightside{
    display: flex;
    justify-content: flex-start;
}
.user-nav__user-photo{
    height: 3.75rem;
    border-radius: 50%;
}
.user-nav__user{
    display: flex;
    align-items: center;
}