.pictures{
    display:flex;


}
.re{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.hotel{

<<<<<<< Updated upstream
    /*display: flex;*/
=======

>>>>>>> Stashed changes

}

.main{
    display:flex;

}

.image-width{
    width:100%;
    display: block;
}